<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.1ar.alfred.codeScreenshot</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1464FDD7-F6B7-4072-9FF1-14E58DE1C8B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EBCAF89-1523-4FD6-A37D-C6230E4228B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43C76903-8B5D-4183-B796-EF7E0C71CC67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>688024F8-35B9-4EF3-A4D4-3DE8D7DFD8E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>688024F8-35B9-4EF3-A4D4-3DE8D7DFD8E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71FB67B1-5E25-47BC-BF4B-60B0254E5C9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71FB67B1-5E25-47BC-BF4B-60B0254E5C9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1464FDD7-F6B7-4072-9FF1-14E58DE1C8B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>pa1ar</string>
	<key>description</key>
	<string>Generate screenshots of your code snippets. Fine-tune details with Raycast's webui.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Code Screenshot</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>base64Text="$1"

echo -n "https://ray.so/#code=${base64Text}&amp;theme=$theme&amp;padding=$padding&amp;language=$language&amp;width=$width&amp;title=$title&amp;darkMode=$darkMode"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1464FDD7-F6B7-4072-9FF1-14E58DE1C8B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Generate Code Screenshot</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>43C76903-8B5D-4183-B796-EF7E0C71CC67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3EBCAF89-1523-4FD6-A37D-C6230E4228B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.encode.percent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>71FB67B1-5E25-47BC-BF4B-60B0254E5C9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>base64</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.encode.binary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>688024F8-35B9-4EF3-A4D4-3DE8D7DFD8E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Code Screenshot
&gt; Generate screenshots of your code snippets with [Alfred](https://alfred.app/). Fine-tune details with [Raycast's webui](https://ray.so/hBzUh0o).


## Setup
Configurable attributes: 
- theme (limited to those supported by raycast)
- padding (around the code, list of values supported by raycast)
- background (enabled or disabled)
- title (is displayed as title of the "window")
- dark mode (enabled or disabled)
- width (min 520, default is auto)

## Usage

1. Select your code 
2. Trigger universal action named `Generate Image From Selected Code`.
3. (optional) fine-tune the screenshot on the opened ray.so page 
4. click export

PRO TIP: you can use shortcuts on the raycast page to make quick edits, export, etc. Tap `?` on your keyboard or click on info button to see the shortcut reference while on the page with your snippet.

## Reference

https://github.com/raycast/ray-so

## Credits

Original idea of the workflow by Alan He (https://github.com/alanhe421/alfred-workflows/tree/master/ray-so)</string>
	<key>uidata</key>
	<dict>
		<key>1464FDD7-F6B7-4072-9FF1-14E58DE1C8B6</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>3EBCAF89-1523-4FD6-A37D-C6230E4228B2</key>
		<dict>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>43C76903-8B5D-4183-B796-EF7E0C71CC67</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>688024F8-35B9-4EF3-A4D4-3DE8D7DFD8E2</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>71FB67B1-5E25-47BC-BF4B-60B0254E5C9D</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>candy</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Vercel</string>
						<string>vercel</string>
					</array>
					<array>
						<string>Evil Rabbit</string>
						<string>rabbit</string>
					</array>
					<array>
						<string>Supabase</string>
						<string>supabase</string>
					</array>
					<array>
						<string>Tailwind</string>
						<string>tailwind</string>
					</array>
					<array>
						<string>Clerk</string>
						<string>clerk</string>
					</array>
					<array>
						<string>Mintlify</string>
						<string>mintlify</string>
					</array>
					<array>
						<string>Bitmap</string>
						<string>bitmap</string>
					</array>
					<array>
						<string>Noir</string>
						<string>noir</string>
					</array>
					<array>
						<string>Ice</string>
						<string>ice</string>
					</array>
					<array>
						<string>Sand</string>
						<string>sand</string>
					</array>
					<array>
						<string>Forest</string>
						<string>forest</string>
					</array>
					<array>
						<string>Mono</string>
						<string>mono</string>
					</array>
					<array>
						<string>Breeze</string>
						<string>breeze</string>
					</array>
					<array>
						<string>Candy</string>
						<string>candy</string>
					</array>
					<array>
						<string>Crimson</string>
						<string>crimson</string>
					</array>
					<array>
						<string>Falcon</string>
						<string>falcon</string>
					</array>
					<array>
						<string>Meadow</string>
						<string>meadow</string>
					</array>
					<array>
						<string>Midnight</string>
						<string>midnight</string>
					</array>
					<array>
						<string>Raindrop</string>
						<string>raindrop</string>
					</array>
					<array>
						<string>Sunset</string>
						<string>sunset</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Theme</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>theme</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>64</string>
				<key>pairs</key>
				<array>
					<array>
						<string>16px</string>
						<string>16</string>
					</array>
					<array>
						<string>32px</string>
						<string>32</string>
					</array>
					<array>
						<string>64px</string>
						<string>64</string>
					</array>
					<array>
						<string>128px</string>
						<string>128</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Padding</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>padding</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Dark Mode</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>darkMode</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>color or gradient behind the window with your code snippet</string>
			<key>label</key>
			<string>Background</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>background</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>untitled</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>displayed as title on the window with the snippet</string>
			<key>label</key>
			<string>Title</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>title</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>leave empty for auto width</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>set fix width of the code whole image (minimum is 520px)</string>
			<key>label</key>
			<string>Width</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>width</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/pa1ar/alfredCodeScreenshot</string>
</dict>
</plist>
